benepar==0.2.0
datasets==3.5.0
filelock==3.18.0
IsoScore==2.0.1
jsonschema==4.23.0
nltk==3.9.1
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.1
sentence-transformers==5.0.0
spacy==3.8.3
torch==2.6.0
tqdm==4.67.1
transformers==4.48.3